/*
 * jQuery FlexSlider v1.7
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active {
	outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0; 
	padding: 0; 
	list-style: none;
} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {
	width: 100%; 
	height: auto;
	margin: 0; 
	padding: 0;
}
	/* Hide the slides before the JS is loaded. Avoids image jumping */
	.flexslider .slides > li {
		display: none;
	} 
		.flexslider .slides img {
			max-width: 100%; 
			width: 100%;
			display: block; 
			min-width: 320px; 
			max-height: 307px;
			height: auto;
		}
.flex-pauseplay span {
	text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
	content: "."; 
	display: block; 
	clear: both; 
	visibility: hidden; 
	line-height: 0; 
	height: 0;
} 
html[xmlns] .slides { display: block;} 
* html .slides { height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}

/* FlexSlider Default Theme
*********************************/
.flexslider {
	position: relative;
    width: 940px;
    min-width: 320px;
    max-width: 100%;
    height: auto;
    margin:0 auto;
    margin-bottom: 40px; 
    background-color: #2d363a; 
}
		.flexslider .slides > li {
			position: relative;
		}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {
	position: relative;	
}

/* Caption style */
/* IE rgba() hack */
.flex-caption {
	position: absolute;
	bottom: 0; 
	left: 0;
	padding: 2%;
	width: 96%;
	color: #fff;
	font-size: 14px; 
	line-height: 18px;
	z-index: 100; 
	background: none; 
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); 	
	background: rgba(0,0,0,0.3); 
	border: 2px solid red; 
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3); 
}

/*------------------------------ Control Nav */
.flex-control-nav { 
	position: absolute; 
	bottom: 16px; 
	width: 100%;
	text-align: center;
}
	.flex-control-nav li { 
		display: inline-block;
	    margin: 0;
	}
	.flex-control-nav li:first-child {
		margin: 0;
	}
		.flex-control-nav li a {
			display: block;
		    float: left;
		    margin-right: 10px;
		    width: 10px;
		    height: 10px;	    
		    text-indent: -9999px;
		    background: white;
		    -webkit-border-radius: 16px;
		    -moz-border-radius: 16px;
		    border-radius: 10px;
		    cursor: pointer;
		}
		.flex-control-nav li a.active {
			background: black;
			cursor: default;
		}
/*--------------------------------------------------------*/
.slider-text {
	position:absolute;
	left:0px;
	bottom:117px;
	display: block;
	background:#000;
	color:#fff;
	width: 300px;
	height: 160px;
	z-index:8;
	padding: 17px 20px 20px 20px; 
	opacity: 0.8;
	overflow: hidden;	
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */ 
}
.templastic-slider-head h4 {
	font-family: 'Open Sans Semibold';
	line-height: 40px;
	color: white;
	letter-spacing: normal;
	margin: 0 0 2px 0;
}
.templastic-slider-content p{
	font-size: 14px;
	margin: 2px 0 7px 0;
	line-height: 23px;
}
.templastic-slider-more {
	font-family: 'Open Sans Bold';
	text-decoration: none;
	color: white;
	font-size: 14px;
	line-height: 23px;
	margin: 7px 0 7px 0;
	letter-spacing: 0;
	word-spacing: 0;
	border-bottom: 0;
}